.titlebar-container{
    margin-top: 4%;
    margin-left: 7%;
    display: flex;
    margin-bottom: 2rem;
    z-index: -1;
}


.titlebar-item{
    flex: 5;
}

.titlebar-title{
    display: flex;
}
.arrowleftIcon{
    padding-top: 1.5rem;
    size: 2%;
    padding-right: 20px;
}

.title-big{
    font-weight: 600;
    font-size: 50px;
    padding-right: 20px;
    
}
.title-small{
    padding:  10px;;
  margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20%;
    background-color: rgb(173, 239, 255);
}

.titleDetail{
    margin-top: 20px;
}
.titlebar-item2{
    z-index: -1;
    flex: 2;
    display: flex;
    align-items: center;
    
}

.titlebar-name{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
      margin-right: 10px;
      font-size: 14px;
      cursor: pointer;
      background-color: white;
}

.real{
    padding-top:2rem;

    padding-left: 2rem;
}